// Colors used

$color-name: #2f9678; // TODO: This is just for test, so remove it.
$chathams-blue: #163d80;
$golden-fizz: #fae73b;
$river-bed: #4b5765;
$lochinvar: #2f9678;
$black: #000;
$white: #fff;
