// Sass variables

$domain-name: "www.domain-name.com";

// Primary colors
$primary-color: $chathams-blue;
$primary-color--hover: $chathams-blue;

// Secondary colors
$secondary-color: $golden-fizz;
$secondary-color--hover: $golden-fizz;

// Tertiary colors
$tertiary-color: $river-bed;
$tertiary-color--hover: $river-bed;
$color-brand-green: $lochinvar;

// Input colors
$input__value-color: $color-name;
$input__value-color--disabled: $color-name;
$input__placeholder-color: $color-name;
$input__border-color: $color-name;
$input__border-color--hover: $color-name;
$input__border-color--focus: $color-name;
$input__border-color--error: $color-name;
$input__background-color: $color-name;
$input__background-color--disabled: $color-name;
